<ion-header>

 
    <shrinking-segment-header [scrollArea]="myContent" headerHeight="125">
        <img src="http://chronicle.com/blogs/profhacker/files/2013/04/Professortocat_v2-300x300.png" (click)="userProfile()"/>
        <h5>Zhen W<br><span class="span-balance">Balance: $999.00</span></h5>
        
    </shrinking-segment-header>
 
    <ion-toolbar color="light" mode="md">
      <div>
        <ion-grid>
          <ion-row>

            <ion-col class="content-center">
              <ion-buttons>
              <button clear ion-button>
                <div>
                  <ion-icon name="md-expand" class="icon-M" color="dark"></ion-icon>
                  <br>
                  <label class="label-M">Scan & Pay</label>
                </div>
              </button> 
            </ion-buttons>
            </ion-col>

            <ion-col class="content-center">
              <ion-buttons>
              <button clear ion-button>
                <div>
                  <ion-icon name='md-exit' class="icon-M" color="dark"></ion-icon>
                  <br>
                  <label class="label-M">Transfer</label>
                </div>
              </button> 
            </ion-buttons>
            </ion-col>

            <ion-col class="content-center">
              <ion-buttons>
              <button clear ion-button>
                <div>
                  <ion-icon name='ios-card' class="icon-M" color="dark"></ion-icon>
                  <br>
                  <label class="label-M">Cards</label>
                </div>
              </button> 
            </ion-buttons>
            </ion-col> 

          </ion-row>
        </ion-grid>
      </div>
    </ion-toolbar>
 
</ion-header>
 
<ion-content fullscreen #myContent>

    <div>
        <ion-grid>
          <ion-row>

            <ion-col class="content-center">
              <ion-buttons>
              <button clear ion-button>
                <div>
                  <ion-icon name='md-checkbox-outline' class="icon-M"></ion-icon>
                  <br>
                  <label class="label-M">Request</label>
                </div>
              </button> 
            </ion-buttons>
            </ion-col> 

            <ion-col class="content-center">
              <ion-buttons>
              <button clear ion-button>
                <div>
                  <ion-icon name='ios-list-box-outline' class="icon-M"></ion-icon>
                  <br>
                  <label class="label-M">Pay Bill</label>
                </div>
              </button> 
            </ion-buttons>
            </ion-col>  

            <ion-col class="content-center">
              <ion-buttons>
              <button clear ion-button>
                <div>
                  <ion-icon name='md-phone-portrait' class="icon-M"></ion-icon>
                  <br>
                  <label class="label-M">Top-Up</label>
                </div>
              </button> 
            </ion-buttons>
            </ion-col>  

            <ion-col class="content-center">
              <ion-buttons>
              <button clear ion-button>
                <div>
                  <ion-icon name='md-heart-outline' class="icon-M"></ion-icon>
                  <br>
                  <label class="label-M">Donation</label>
                </div>
              </button> 
            </ion-buttons>
            </ion-col>  

          </ion-row>
        </ion-grid>
      </div>
 
    <div [ngSwitch]="section">
      
      <ion-list>
        <ion-item *ngFor="let something of somethings">
          <ion-avatar item-start>
            <img src="https://gordon-beeming.gallerycdn.vsassets.io/extensions/gordon-beeming/github/0.10.0/1474455219937/img/logo.png">
          </ion-avatar>
          <h2>Tesco</h2>
          <p>11/10/2016</p>
          <p item-end>$102.99</p>
        </ion-item>
      </ion-list>

      <!-- <ion-list *ngSwitchCase="'one'">
        <ion-item *ngFor="let something of somethings">
          <ion-thumbnail item-left>
            <img src="https://avatars.io/instagram/unknown">
          </ion-thumbnail>
          <h2>Something</h2>
        </ion-item>
      </ion-list>
 
      <ion-list *ngSwitchCase="'two'">
        <ion-item *ngFor="let something of somethings">
          <ion-thumbnail item-left>
            <img src="https://avatars.io/instagram/unknown">
          </ion-thumbnail>
          <h2>Something</h2>
        </ion-item>
      </ion-list>
 
      <ion-list *ngSwitchCase="'three'">
        <ion-item *ngFor="let something of somethings">
          <ion-thumbnail item-left>
            <img src="https://avatars.io/instagram/unknown">
          </ion-thumbnail>
          <h2>Something</h2>
        </ion-item>
      </ion-list> -->
 
    </div>
 
</ion-content>